.parent{
    
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
}.box{
    background-color: black;
    height: 100px;
    color: white;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    font-size: 20px;
}